<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarController</servlet-name>
        <servlet-class>Controller.UploadAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrdersController</servlet-name>
        <servlet-class>Controller.MyOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logincontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/registercontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/homecontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/categorycontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubCategoryController</servlet-name>
        <servlet-class>Controller.SubCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubCategoryController</servlet-name>
        <url-pattern>/subcategorycontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>Controller.UserProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarController</servlet-name>
        <url-pattern>/uploadavatarcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrdersController</servlet-name>
        <url-pattern>/myorderscontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>Controller.SliderListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/sliderlistcontroller</url-pattern>
    </servlet-mapping>
</web-app>
